---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo";

---
<Layout title="AE30 - Team - work in progress" description="gallery" image="">

<p>team</p>
        <!-- <Logo /> -->

</Layout>


