button.btn {
  padding: 0;
  margin: 0 0.2em 0 0.2em;
  height: 100%;
  aspect-ratio: 1;

  border: none;

  border-radius: 50%;
  background: var(--cwhite60);

  backdrop-filter: blur(2px);
  color: var(--cgrey);
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn:hover {
  color: var(--cblack);
  cursor: pointer;
  /* background: orange; */
}
svg.btn_svg {
  height: 100%;
  width: 100%;
  /* background: green; */
}

use.btn_use {
  stroke-linecap: square;
  stroke-linejoin: square;
  stroke-dasharray: none;
  paint-order: fill;

  fill: currentColor;
  stroke: none;
}
.btn_use {
  transform: translate(0, 0);
  background: blue;
}

.btn_arrowL {
  transform: rotate(180deg) !important;
}
.btn_play {
  border: 2px solid var(--cgrey) !important;
}

button.btn:hover,
button.btn:active {
  animation: buttonHoverZoom 0.3s ease-in-out forwards;
  border: 2px solid var(--cgrey) !important;
}
@keyframes buttonHoverZoom {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
