.crosshair {
  z-index: 200;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --thickness: 2px;
  --bgColor: var(--cgrey);
}
.crosshair::before,
.crosshair::after {
  content: "";
  position: absolute;
  background-color: var(--bgColor);
  top: 0;
  bottom: 0;
}

.crosshair::before {
  top: 50%;
  left: 0;
  right: 0;
  height: var(--thickness);
  margin-top: calc(var(--thickness) / -2);
  /* margin-top: -4px; */
}
.crosshair::after {
  left: 50%;
  width: var(--thickness);
  margin-left: calc(var(--thickness) / -2);
  /* margin-left: -4px; */
}
/* ---------------------- */
/* Carousel wrapper */
/* ---------------------- */
.carousel {
  width: auto;
  height: 100svh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;

  /* background: purple; */
  /* border: 8px solid purple; */
}
#image-carousel {
  display: flex;
  align-items: center;
  gap: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(0%, -50%); */

  /* border: 6px dashed pink; */
  /* background: pink; */
}
.summary_block,
#image-carousel figure {
  /* background: rgba(255, 255, 255, 0.5); */
  background: white;
  width: 30vmin;
  height: 45vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* border: 2px dashed lime; */
}

.cursor {
  color: #ffffff;
}
#image-carousel figure img {
  cursor: url("../../../icons/plus.svg"), auto;
}
#image-carousel figure img {
  /* cursor: -moz-zoom-in; */
  max-height: 100dvh;
  max-width: 100dvw;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.summary_block {
  padding: 1em;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: var(--fsans2);
  font-weight: bold;
  background: var(--cgrey20);
  transition: background 0.5s ease-in;
}
.summary_block:hover {
  background: var(--cgrey60);
}

.summary_block a {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* background: red; */
}
.summary_block span {
}
/* ----------------------------- */
/* ANIMATION zoom in on Img  */
/* ----------------------------- */
.zoom1 {
}
#image-carousel figure {
}

#image-carousel figure[data-zoom="false"] {
  /* z-index: 3; */
}

#image-carousel figure[data-zoom="true"] {
  align-items: center;
  position: absolute;
  left: 0;

  z-index: 33;

  height: 100dvh;
  width: 100dvw;

  /* border: 2px solid red; */
}
#image-carousel figure[data-zoom="true"] img {
  /* object-fit: contain !important; */
  /* object-fit: unset !important; */
  /* object-position: center !important; */
  /* border: 4px solid yellow; */
  /* height: auto !important; */
  /* width: auto !important; */
  /* max-width: 100%; */
  /* max-height: 100%; */
}
