p.counter{
/* height: 20px; */
  width: auto;
margin: 0;

/* background: green; */
}
.slideshow_number{
  backdrop-filter: blur(2px);
  padding: .5em;
  border-radius: 50%;

  /* background: red; */
  /* font-family: var(--fsans); */
}
.index{ }
.length{ }
