section.controls{
    z-index: 8 !important;

    position: fixed;
    bottom: 1em;
    left: auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center; 

    font-family: var(--fsans2);
    color: var(--cgrey);

    background: green;

}

