  h1{
    margin: 0 !important;
    background: red;
  }
  h1 span{
    text-indent: -9999px;
    display: none;
  }

  svg.logo{
    position: fixed;
    top: -0.5em;
    right: -0.5em;

    display: flex;
    justify-content: center;
    align-items:center;

    width: 4em;
    height: 4em;

    border-radius: 50%;
    background: var(--cgrey);
    z-index: 4;

    color: white;
  }

  .svg-logo-use{
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: currentColor;
    stroke: currentColor;
  }
  /* #1c1d1d */

  use#use_logo{
    /* width: 65%; */
    /* height: 65%; */
    background: green;
    vertical-align: middle;
  }

