  h1{
    margin: 0 !important;
    background: green;
  }
  h1 span{
    text-indent: -9999px;
    display: none;
  }
  h1 a{
    position: fixed;
    top: -0.5em;
    right: -0.5em;

    display: flex;
    justify-content: center;
    align-items:center;

    width: 4em;
    height: 4em;

    border-radius: 50%;
    /* dark mode */
    background: var(--cwhite60);  
    /* light mode */
    /* background: var(--cgrey);   */
    /* background: red; */
    z-index: 4;
    /* box-shadow: 0 0 .5em 0 lightgrey; */

  }
  .logo{
    /* dark mode */
    color: var(--cblack); 
    /* light mode */
    /* color: var(--cwhite); */

    outline: none;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 65%;
    height: 65%;

    /* border-radius: 50%; */
    /* background: blue; */
  }
  .lg{
    transform: translate(4px,4px) scale(.25);

/* width: 50%; */
/* height: 50%; */
  }

.lpath  {
  /* transform: ; */
}
  .svg-logo-use{
    stroke-width: calc(0 * 1.25); 
    stroke-linecap: miter;
    stroke-linejoin: miter;
    stroke-dasharray: none;
    paint-order: fill;
  /* should be in CSS soonish  */
    stroke-align: inset;

    fill: currentColor;
    stroke: var(--cblack);
    }

  .logo_div{
    background: red;
    z-index: 10;
  }
 use#use_logo{
  }

  /* #1c1d1d */

  @media only screen and (min-width: 64em /* var(--vwS) */ ) { 
    h1 a{
      top: -1em;
      right: -1em;
      width: 6em;
      height: 6em;
    }
    .logo {
      /* top: calc(var(--ggapspx) / 4); */
      /* right: calc(var(--ggapspx) / 2); */
      width: calc(var(--gmodulem) * 4);
      height: calc(var(--gmodulem) * 4);
    }
    .logo:hover{
      /* nav: display: inline; */
    }
