.backdrop{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2233aae1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}




.modal{
  width: clamp(50%, 700px, 90%);
  height: min(50% 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;

}











  .modal_open_btn{
    height: 100%;
  }
  .test{
    position: fixed;
    top: 50%;
    left: 50%;
    background: red;
  }

dialog {
  border: none !important;

  width: 100%;
  max-width: 37.5em;
  /* bottom: -5vh; */
  margin-bottom: 3em;
  max-height: 80vh;
  text-align: left;

  background: var(--cwhite80);
  backdrop-filter: blur(5px);

}
  dialog::backdrop{
    background: none;
  }


/* Media Queries ------------------- */

  @media only screen and (min-width: 85.375em /* var(--vwM) */) { 
    dialog {
      margin-right: calc(50vw + 4em);
    }
  }

