
.backdrop_modal{
  align-items: end;

}
.modal_content{
  z-index: 4;
  width: clamp(25em , calc(37.5em + 2em), 100%);
  backdrop-filter: blur(1px);
  background: var(--cwhite60);
/* #bug MOBILE LANDSCAPE! */
  max-height: calc(100lvh - 8em);
  display: flex;
  flex-direction: column;
  align-items: start;

  /* background: green; */
}

.content{
  overflow: auto;
  padding: 2em;
  width: 100%;
  box-sizing: border-box;

  margin-bottom: 12em;

  /* background: red;   */

}
/* Hacky way to target mobile browsers? */
@media screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 0) {
  .content{
    margin-bottom: calc(12em + calc(100lvh - 100svh));
  }
}
@media only screen and (min-width: 48em/* var(--vwT) */) {
.content{
  margin-bottom: 8em;
}
}
button.modal_close_btn{
  border: none;
  background: none;
  height: calc(var(--gmodulem) * 1);
  padding: 0;
  position: absolute;
  top: var(--gmodulem) ;
  right: var(--gmodulem) ;
  color: var(--cgrey);
}

button.modal_close_btn:hover{
  cursor: pointer;
    color: var(--cblack);
}

.svg-icon{
  /* background: yellow; */
  /* height: 100%; */
  aspect-ratio: 1;

}

