
.backdrop_menue{
  align-items: start;
  z-index:9 !important;


}
  @media only screen and (min-width: 51em /* var(--vwS) */ ) { 
    .backdrop_menue{
      height: 3em !important;
      min-height: auto;
      /* background: red; */

    }
  }
/* Nav------------------------------------- */
  hr{
    /* border: 0.5px solid var(--cgrey); */
  } 


  nav#mainnav{
    position: fixed;
    top: 0;
    right:0;
    display: flex;
    flex-direction: column;

    width: 100%;
    color: var(--cgrey);

    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;

    /* line-height: 2em; */

    background: var(--cwhite80);
    /* background: lavender; */
    backdrop-filter: blur(3px);

    /* border-bottom-left-radius: 3em; */
    z-index:4;

    transform: translateY(-100%);
    animation: slideDown 0.2s ease-in-out forwards;
  }
  .menue_hidden{
    animation: slideUp 0.2s ease-in-out forwards;
  }
  @keyframes slideDown{
    0% {transform: translateY(-100%);}
    40% {transform: translateY(0%);}
    80% {transform: translateY(-5%);}
    100% {transform: translateY(0%);}
  }

  @keyframes slideUp{
    0% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}
  }


/* Icons ---------------------------------------- */


.menue-icons{
    /* background: green; */
    display: flex;
    gap: calc(calc(var(--gmodulem) * 3)/2);
    height: 3em;
    align-items: center;
  }
  button{
    background: none;
    border: none;
    padding:0;
  }
  button:hover{
    cursor: pointer;
  }
  button.button-icon{
    /* background: red; */

    height: calc(var(--gmodulem)*1);
    color: var(--cgrey);
  }
  .button-icon:hover{
   color: var(--cblack);
  }
  .svg-icon{
    /* background: yellow; */
    height: 100%;
    aspect-ratio: 1;

  }
  .svg-icon use{
    stroke-width: 1em;
    color:
  }
  #icon-close{
    /* background: yellow;  */
    /* background: url("/close.svg"); */
  }
  #icon-theme{
    /* background: red url("/sun.svg"); */
  }
  #header{
    font-family: var(--fsans2); 
    text-transform: uppercase;
  }



/* TEXT MENU  ---------------------------------*/

  ul.menue{
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 3em;

    list-style-type: none;
    width: 100%;
    padding-left: calc(var(--gmodulem)*1);
    box-sizing: border-box;

    /* background: green; */

  }
  ul.menue li{ 
    /* width: 100%; */
    /* background: orange; */
  }
  ul.menue li > a{
    display: block;
    color: var(--cgrey);
    /* background: red; */
    /* border-bottom: 1px solid rgb(255,255,255,.0); */
  }
  ul.menue li > a:hover{
    color: var(--cblack);
    /* background: white; */
    /* border-bottom: 1px solid var(--cblack); */
    /* text-decoration: underline; */
  }


/* KONTAKT INFO MENU  ---------------------------------*/

  .kontakt{
    font-family: var(--fsans);
    font-size: calc(var(--fsize)/1.5);
    line-height: calc(var(--fline_height)/8); 
    text-align: right;
    padding-bottom: var(--gmodulem);
  }

/* MEDIA QUERIES  ---------------------------------*/
  @media only screen and (min-width: 51em /* var(--vwS) */ ) { 
    nav#mainnav{
      flex-direction: row;
    
    }
    hr{
      display:none;
    }
    ul.menue{
      flex-direction: row;
      padding-right: 8em;
      padding-left: 2em;
      /* box-sizing: border-box; */
      justify-content: center;
      gap: 2em;

    }
    ul.menue li{
      /* padding: 0; */

    }
    .kontakt{
      text-indent: -9999px;
      display: none;
    }
    .menue_hidden{
    /* transform: translateY(0%); */
    }

  }

  @media only screen and (min-width: 64em /* var(--vwS) */ ) { 
    nav#mainnav{
      /* padding-left: .5em; */
    }
    .menue-icons{
      height: 4em;
    }
    ul.menue{
      line-height: 4em;
    }
    .backdrop_menue{
      height: 4em !important;
      min-height: auto;
    }
  }
