main {
  /* overflow:hidden; */
  overscroll-behavior: auto; /* default */
}
.hide_overflow {
  overflow: hidden;
}

/* .slideshow_div{

  overflow: hidden;
  /* background: red; */
/* max-height: 50vh !important; */

.slideshow_div:hover {
}

figure {
  height: 100lvh;
  width: 100lvw;

  /* background: green; */
  position: relative;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.motiondiv {
  /* #bug mobile: max-width not respected */
  position: absolute;
  max-width: 100lvw;
  max-height: 100lvh;
  /* width: 100%!important; */

  overflow: hidden;
  z-index: 0;
  background: red;
}
figure img {
  max-width: 100lvw;
  max-height: 100lvh;

  object-fit: cover;
  object-position: 50% 60%;
  /* object-position: 50% 50%; */
}
figure.slideshow_fig:hover {
  /* cursor: zoom-out; */
}
figure.slidshow_fig_zoomed_out:hover {
  /* cursor: zoom-in; */
}
figure picture {
  margin: 0 !important;
  padding: 0 !important;
  background: blue;
}
img.slideshow_plan {
  /* min-height: auto !important; */
  /* max-height: 75vh; */
}
img.zoom_out {
  /* min-height: auto !important; */
  /* max-height: 75vh; */
}

figcaption {
  display: none;
  z-index: 5;
  font-family: var(--fsans2);
  font-size: 0.8em;
  text-align: center;

  color: var(--cwhite);

  backdrop-filter: blur(1px);
  /* display: inline-flex; */

  /* justify-self: center; */
  /* justify-content: center; */
  /* align-self: center; */
  /* #rev */
  transform: translate(0, -3em);
  border-radius: 1em;

  line-height: 1em;
  height: 1em;
  margin-left: calc(var(--gmodulem));
  padding: 0.5em;

  /* background: green; */
}
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button.slideshow_btn {
  border: none;
  text-indent: -9999px;

  /* opacity: 0.2; */
  opacity: 0.4;

  /* naughty positioning!!! */
  position: fixed;
  top: 50%;

  /* background: var(--cblack); */
  width: 8em;
  height: 8em;

  color: var(--cwhite);
  fill: currentColor;
  z-index: 3;

  /* background: green; */

  /* box-shadow: 0 0 1em 0 black; */
}
.slideshow_btn:hover {
  opacity: 0.8;
}
.btn_prev {
  left: 0;
  cursor: w-resize; /* #rev custom arrow icons */
  background: 100% 50% url("/arrow.svg") no-repeat;
  /* background-color: purple; */
  transform: translate(-25%, 0%) rotate(180deg) scale(0.5);
}
.btn_next {
  right: 0;
  cursor: e-resize; /* #rev custom arrow icons */
  background: 100% 50% url("/arrow.svg") no-repeat;
  /* background-color: pink; */
  transform: translate(25%, 0%) rotate(0) scale(0.5);
}

.project_summary {
  /* transform: translateY(-2em); */
  margin-bottom: 16em;
  width: clamp(16em, calc(37.5em + 2em), 80vw);
  background: green;
  /* color: black; */
}
