.tooltip {
  /* display: none; */

  position: absolute;
  top: calc(-50% - 3em);
  /* left: -50%; */
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  z-index: 100;
  background: var(--cwhite60);
  backdrop-filter: blur(2px);
  /* background: red; */
  opacity: 0;
  transition: all 0.8s ease-in-out;
  white-space: nowrap;
}
*:hover:has(> .tooltip) .tooltip {
  opacity: 1;
  display: block;
  /* width: 100%; */
  /* height: 100%; */
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1em;
  border-width: 1em;
  border-style: solid;
  border-color: var(--cwhite60) transparent transparent transparent;
  /* border-color: red transparent transparent transparent; */
}
