.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out 0.5s;

  position: absolute;
  bottom: calc(50% + 2em);

  min-height: 2em;
  /* #rev dangerous */
  white-space: nowrap;
  /* font-weight: bold; */

  display: flex;
  align-items: center;

  border-radius: 2em;
  background: var(--cwhite60);

  z-index: 100;
}
.tooltip span {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  /* #rev geht nicht? */
  backdrop-filter: blur(3px);
  display: inline-block;
  /* background: orange; */
}
@media (hover: hover) {
  *:hover:has(> .tooltip) .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip.t {
  bottom: calc(50% + 2em);
  /* background: green; */
}
.tooltip.l {
  top: 12.5%;
  right: calc(50% + 2em);
  /* background: yellow; */
}
.tooltip.r {
  top: 12.5%;
  left: calc(50% + 2em);
}
.tooltip.b {
  top: calc(50% + 2em);
}

.tooltip.bl {
  /* top: 12.5%; */
  top: calc(50% + 2em);
  right: calc(50% + 2em);
}

/* arrow */
/* .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1em;
  border-width: 1em;
  border-style: solid;
  border-color: var(--cwhite60) transparent transparent transparent;
} */
