---
import Layout from '../layouts/Layout.astro';
import { CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths(){
  const allPages = await getCollection('pages');
  // console.log('allPages', allPages);

    return allPages.map((page) => ({
    params: { pages: page.slug },
    props: page,
    }))

  } 

type Props = CollectionEntry<'pages'>;
const page = Astro.props;

  console.log("page", page)

const { Content } = await page.render();
// console.log("page Content", Content)
---



<Layout title="AE30 - {props.slug} - work in progress" description="Kategorie" image="">
<section id="page" class="content" aria-label="Page Content">
  <h1 class="page_headline" set:html={page.data.title} />
    <ul class="submenu">{page.data.menu}</ul>

    <Content />


</section>
</Layout>
<style>

  .wrapper{
    /* margin-top: 2em; */
    /* background: greenyellow !important; */
  }

  #page{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(var(--gcolnum), 1fr);

    /* grid-auto-rows: min-content; */
    /* grid-auto-flow: dense; */

    /* align-items: flex-start; */
    gap: calc( 0.5 * var(--ggapspx));
    /* margin-bottom: 10em; */

    background: greenyellow;
  }
  @media only screen and (min-width: 64em /* var(--vwS) */) { 
    #page{
      gap: var(--ggapspx);
    }
    }
  h1.page_headline{
    text-transform: uppercase;
    grid-column: 1/12;
    margin-bottom: 2em !important;
  }
  ul.submenu{
    /* grid-column: 1/12; */

  }
  .content :global(p){
    background: yellow;
    color: red !important;
    /* width: 100%; */
    grid-column: span 12;
    /* grid-row: span 1; */
  }
  .content > :global(* + *){
    border: 1px solid blue; 
    
    grid-column: span 12;
  }
  .content :global(p img){
    /* aspect-ratio: 1; */
    min-width: 100%;
    /* max-width: 100vw; */
    /* border: 2px solid red; */
  }
</style>
