---
import Layout from "../layouts/Layout.astro";
---
<Layout title="about" description="about descr." image="/media/13.jpg">
<section class="container about" aria-label="about">
  <img src="/media/13.jpg" alt="header"/>
</section>

</Layout>
