---
import Layout from '../layouts/Layout.astro';
import Testgallery from '../components/Testgallery.astro';
// import Entry from '../components/Entry.astro';
---
<Layout title="AE30 - Gallerie - work in progress" description="gallery" image="">

<section class="gallery">
  <!-- <Entry/> -->
   <!-- <Testgallery/> -->
</section>
</Layout>

<style is:global>
</style>

