---
import ModalBtn from '../components/ModalBtn.jsx'
import TextBlockModal from '../components/TextBlockModal.jsx'


---
<!-- <Modalbtn client:load text="testtesteste"/> -->

<ModalBtn BtnName="toggle" client:load />


<TextBlockModal client:load>
<h2>the modal content</h2>
 <p>Lorem ipsum dolor sit amet</p> 
</TextBlockModal>
