---
import ModalBtn from '../components/ModalBtn.jsx'
import TextBlockModal from '../components/TextBlockModal.jsx'
import BasicScripts from '../components/basicScripts.astro';
// import Slideshow from '../components/Slideshow.jsx'
import Layout from '../layouts/Layout.astro'
// import NewSlideshow from '../components/NewSlideshow';

const slideshow_pictures = [
'/media/1.jpg',
'/media/2.jpg',
'/media/3.jpg',
'/media/4.jpg',
'/media/5.jpg',
]
const slideshow_plans = [
'/media/6.jpg',
'/media/7.jpg',
'/media/8.jpg',
'/media/9.jpg',
'/media/10.jpg',
]
const slideshow_pictures_alts = [
'/media/1.jpg',
'/media/2.jpg',
'/media/3.jpg',
'/media/4.jpg',
'/media/5.jpg',
]
const slideshow_plans_alts = [

'/media/6.jpg',
'/media/7.jpg',
'/media/8.jpg',
'/media/9.jpg',
'/media/10.jpg',

]
---
<Layout title={`AE30 - work in progress`} description="" image="">

<section class="project_presentation" aria-label={`Projekt  Presentation`}>
  <article class="project">
    <div class="slideshow_div" >
      <figure class="slideshow_fig" >
        <!--
        <NewSlideshow
        client:load
        pictures={slideshow_pictures}
        pictureTitles={slideshow_pictures_alts}
        plans={slideshow_plans}
        planTitles={slideshow_plans_alts}
        autoPlayInterval={5} 
        />
        -->

      </figure>
    </div>

  </article>
</section>




</Layout>

<style>
  body{
    background: lavender;
  }
.project_presentation{
    /* background: green; */
    min-height: 100vh;

    display: flex;
    align-items: center; /* center vertically flexbox */
    justify-content: center; /* center horizontally flex */

  }

</style>
