---

import React from 'react';
import {motion} from 'framer-motion';
// import "../styles/modal.css";


const {id, open, title, slug, body, collection, subcategory} = Astro.props;
---

<button class="modal_open_btn" onclick={`window.${id}.showModal()`}>{open}</button>

<dialog id={id}>
  <slot name="text_modal" />
  <form method="dialog">
    <slot name="close" />
  </form>
</dialog>


<style>
  .modal_open_btn{
    height: 100%;
  }
/* 
TODO
- [ ] rethink how to position Modal
*/

#dialog{
  text-align: left;
  position: fixed;
  bottom: calc(var(--gmodulem)*2);
  /* i dont like how this is centered */
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1em;
  margin: 0;
  width: 100%;
  max-width: 37.5em;
  box-sizing: border-box;
  max-height: 80vh;
  overflow-y: auto;
  background: var(--cwhite);
  background: lavender;
  border: none;
}



/* ------------------- */


</style>
