---
---

<h1>
  <a href="/"> 
    <span>AE30 Architekten - Kratochwil Gerhard, Waldbauer Peter, Zeinitzer Klaus</span>
    <img src="/ae30-logo.svg" alt="AE30 Architekten - Kratochwil Gerhard, Waldbauer Peter, Zeinitzer Klaus" />
  </a>
</h1>

<nav>
  <ul>
    <li><a href="/archiv">Archiv</a></li>
    <li><a href="/arge">ARGE</a></li>
    <li><a href="/kg">Kratochwil</a></li>
    <li><a href="/wp">Waldbauer</a></li>
    <li><a href="/zk">Zeinitzer</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/impressum">Impressum</a></li>
  </ul>
</nav>

<style>
  h1{
    float: right;
  }
  h1 span{
    display: none;
    color: red;
    text-indent: -9999px;
  }
  ul{
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    gap: var(--gaps);
  }
</style>
