---
/*
TODO:
- [ ] Mobile Landscape: /nav braucht min-width or sth. media query fixen

- [ ] Collection for Main Menu + 
- [ ] Collection Pages (Team, Impressum, Etc) + Auto generate
- [ ] #bug: v: "über uns" doesnt wrap correclty
- [ ] Logo: Mobile/Tablet: when Menu open = link to home / (double click home???)
- [ ] Logo: or when 1024px media query 
- [ ] Scroll Open Menu if Browserheight too low?
*/
import BasicScripts from "../components/basicScripts.astro";
import Logo from "../components/Logo";

const {
 // menuToggle = false, ??? no need?
 } = Astro.props;
---
<BasicScripts />
 <script>
 </script>

  <section id="header" aria-label="Header Logo & Navigation">
    <!--
  <h1>
    <a class="link" menu-toggle>
      <span>AE30 Architekten - Kratochwil Gerhard, Waldbauer Peter, Zeinitzer Klaus</span>
      <div class="logo">
        <img src="/ae30-logo.svg" alt="AE30 Architekten - Kratochwil Gerhard, Waldbauer Peter, Zeinitzer Klaus" />
      </div>
    </a>
  </h1> 
  <h1><a menu-toggle><span>temp</span><div class="logo">temp</div></a></h1>
    -->

    <Logo/>

  <nav id="mainnav" class="hidden">  <!-- #rev: 1.Collection Main Menu?!! 2.icons menue teil? seo? 3. move after ul (seo!)-->
    <div class="menue-icons">
      <button class="button-icon" type="button" title="Hauptmenü schließen" aria-label="Hauptmenü schließen" menu-toggle>
        <svg class="svg-icon">
          <use id="icon-close" class="svg-icon-use" xlink:href="/svg.svg#close" />
        </svg>
      </button>
      <!-- Menü Toggle Button -->
    </div>

      <!--
      <button class="button-icon" type="button" title="test" aria-label="test" menu-toggle>
        <svg class="svg-icon">
          <use id="icon-circle" class="svg-icon-use" xlink:href={`svg.svg#circle`} />nav
        </svg>
      </button>
      -->

        <!-- Menü Toggle Button -->

      <!-- <button id="theme-toggle" class="icon-button" type="button" title="Hell-/Dunkel Modus wechseln" aria-label="Hell-/Dunkel Modus wechseln"> Theme Toggle Button
        <!-- <object data="/sun.svg" class="sun_svg" type="image/svg+xml">Hell/Dunkler Modus</object> 
      </button> -->
    <ul class="menue"> 
      <!-- <li><a href="#">Filter(Subcategory)</a></li> -->
      <!-- <li><a href="#">Filter(Year)</a></li> -->
      <li><a href="/admin">Admin</a></li>
      <li><a href="/kg/ze">Test</a></li>
      <li><hr/></li>
      <li><a href="/">ARGE</a></li> 
      <li><a href="/kg">Kratochwil</a></li>
      <li><a href="/wp">Waldbauer</a></li>
      <li><a href="/zk">Zeinitzer</a></li>
      <li><hr/></li>
      <li><a href="/archiv">Archiv</a></li>
      <li><a href="/about">Über uns</a></li>
      <li><a href="/team">Team</a></li>
      <!-- <li><a href="/impressum">Impressum</a></li>-->
    </ul>
    <adress class="kontakt">
      <p>A-1190 Wien, Eroicagasse 30</p>
      <p>TEL: 01-3180500 / FAX: 37 05 013</p>
      <p><a href="mailto:office@ae30.at">office@ae30.at</p>
    </adress>
  </nav> 
</section>

<style>
  h1{
    margin: 0 !important;
  }
  hr{
    /* border: 0.5px solid var(--cgrey); */
  } 
  #header{
    /* background: lavender; */
    /* display: block; */
    font-family: var(--fsans2); 
    text-transform: uppercase;
  }

  .logo{
    position: fixed;
    top: calc(var(--gmodulem) / 2 * -1);
    right: calc(var(--gmodulem) / 1.5 * -1);

    display: flex;
    justify-content: center;
    align-items:center;

    /* line-height: calc(var(--gmodulem) / 2 ); */

    width: calc(var(--gmodulem) * 4);
    height: calc(var(--gmodulem) * 4);

    border-radius: 50%;
    /* top: calc( 2 * var(--gmodul)); */

    background: var(--cbg);
    z-index: 4;
  }

  @keyframes logo-spin{ /* #rev */
    from {}
    to{ 
      transform: rotate(90deg);
    }
  }

  .logo:hover{
    /* transform: rotate(90deg); */
    animation-name: logo-spin;
    animation: ease;
    animation-duration: 2s;
  }

  @media only screen and (min-width: 64em /* var(--vwS) */ ) { 
    .logo {
      /* top: calc(var(--ggapspx) / 4); */
      /* right: calc(var(--ggapspx) / 2); */
      width: calc(var(--gmodulem) * 5);
      height: calc(var(--gmodulem) * 5);
    }
    .logo:hover{
      /* nav: display: inline; */
    }
  }
  img{
    width: 65%;
    height: 65%;
    vertical-align: middle;
    /* object-fit: fill; */
    /* background: green; */
  }
  h1 span{
    text-indent: -9999px;
    display: none;
  }
  nav.hidden{
    /* toggle here for nav on/off */
    /* display: inline;  */
  }
  nav{
    position: fixed;

    right: 0;
    top:0;

    width: 100%;
    max-width: 37.5em;
    /* padding-top: calc(var(--gmodulem) ); */

    color: var(--cgrey);

    padding-left: calc(var(--gmodulem) * 1);
    padding-right: calc(var(--gmodulem) * 1);
    box-sizing: border-box;

    line-height: calc(var(--fline_height) * 1.5);

    /* background: lavender; */
    background: var(--cwhite80);
    /* backdrop-filter: blur(calc(var(--gmodulpx) / 3)); */

    border-bottom-left-radius: 3em;
    z-index:3;
  }

/* TEXT MENU  ---------------------------------*/

  ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
  }
  ul li{ 
    /* background: orange; */
    padding-left: calc(var(--gmodulem)*1);
  }
  ul li > a{
    display: block;
    color: var(--cgrey);
    /* border-bottom: 1px solid rgb(255,255,255,.0); */
  }
  ul li > a:hover{
    color: var(--cblack);
    /* background: white; */
    /* border-bottom: 1px solid var(--cblack); */
    /* text-decoration: underline; */
  }

/* ICON MENU  ---------------------------------*/

  .menue-icons{
    /* background: green; */
    display: flex;
    gap: calc(calc(var(--gmodulem) * 3)/2);
    height: calc(var(--gmodulem) * 3);
    align-items: center;
  }
  button{
    background: none;
    border: none;
    padding:0;
  }
  button:hover{
    cursor: pointer;
  }
  button.button-icon{
    /* background: red; */

    height: calc(var(--gmodulem)*1);
    color: var(--cgrey);
  }
  .button-icon:hover{
   color: var(--cblack);
  }
  .svg-icon{
    /* background: yellow; */

    height: 100%;
    aspect-ratio: 1;

  }
  .svg-icon use{
  }
  #icon-close{
    /* background: yellow;  */
    /* background: url("/close.svg"); */
  }
  #icon-theme{
    /* background: red url("/sun.svg"); */
  }

/* KONTAKT INFO MENU  ---------------------------------*/

  .kontakt{
    font-family: var(--fsans);
    font-size: calc(var(--fsize)/1.5);
    line-height: calc(var(--fline_height)/8); 
    text-align: right;
    padding-bottom: var(--gmodulem);
  }

/* Media Queries MENU  ---------------------------------*/

  @media only screen and  (min-width: 32.5em /* var(--vwPl) */) {
    nav{
      max-width: 50%;
      border-bottom-left-radius: 3em;
    }
  }
 

  @media only screen and  (min-width: 48em /* var(--vwT) */) {
    nav.hidden{
      display: inline !important;
    }
    nav hr{display: none;}
    nav{
      background: none;
      backdrop-filter: unset;
      /* background: orange; */

      /* max-width: 100%; */
      /* width: auto; */

      position: absolute;
      left: 0;
      /* width: 100%; */

      max-width: calc(100% - calc(var(--gmodulem) * 12));
      

      padding: 0;
      margin: 0;
      margin-left: calc(var(--gmarginem) * 2);
      /* padding-right: calc(var(--gmarginem) * 10); */
      border-bottom-left-radius: 0;

      /* padding-right: calc(var(--gmodulem) * 10); */
    }
    ul{ 
      float: right;
      display: flex;
      width: auto;
      height: 100%;
      margin: 0;
      padding: 0;

      /* background: yellow; */

      gap: calc(var(--gmodulem)*2);
      /* justify-content: center; */

      /* text-align: left; */
      /* align-items: center; */

      /* opacity: .4; */
    }
    ul li{
      /* background: red; */
      padding: 0;

      /* width: 100%; */
      /* margin: 0; */
    }
    .menue-icons{
      background: green;
      display: none;
    }
     #icon-close{
       display: none; 
    }
     .kontakt{
       display: none;
     }
  }
  @media only screen and  (min-width: 64em /* var(--vwS) */) {
    nav{
      height: calc(var(--gmodulem)*4);
      /* background: blue; */
      line-height: calc(var(--fline_height) * 2);
      max-width: calc(100% - calc(var(--gmodulem) * 14));
    }
    ul{
      display: flex;
    }
  }
  @media only screen and  (min-width: 48em /* var(--vwT) */) {
  nav{
  }

</style>
