---
import "@fontsource-variable/jetbrains-mono";
---

<p class="roocker">
<a href="https://roocker.dev">
    Handcrafted with <span class="material-symbols-rounded"> favorite</span> <wbr/>
     by
    Florian Schwegel /<wbr/> roocker.dev<wbr/>
  </a>
</p>

<style>
  .roocker {
    margin-top: 4em;
    font-family: "JetBrains Mono Variable", sans-serif;
    font-size: 1em;
    color: var(--cblack50);
    z-index: 2;
    text-align: center;
    white-space: nowrap;
  }

  .roocker span {
    font-variation-settings: "FILL" 0;
  }
  .roocker span {
    font-size: 1em;
    line-height: 1em;
    vertical-align: -3px;
  }
</style>
