---
import Layout from '../../../layouts/Layout.astro';

/* 1. alle projekte sind hier: */
/* should use astro content collection const posts = (await getCollection('blog')).sort(*/

// console.log("Alle Projektseiten die generiert werden sollten:", allProjects);

// const allCats = [...new Set(allProjects.map((proj)=> proj.frontmatter.category).flat())]
// const allProjs = [...new Set(allProjects.map((proj)=> proj.frontmatter.title).flat())]
// const filteredProjects = allProjects.filter((proj) => proj.frontmatter.categoy.includes(cat))

export async function getStaticPaths() {
const allProjects = await Astro.glob('../../../content/projects/*.md'); 

  return [ 
    {
    params: { 
    cat: 'kg', project: 'ze' }
    },
  ];

}

const { project } = Astro.params;
const { cat } = Astro.params;

// const ProjectTitle = projects.map((proj) => {proj.frontmatter.title});

---
<!--
// const { title } = Astro.params;
// const { publishDate } = Astro.params;
// const { category } = Astro.params;
// const { subcategory } = Astro.params;
// const { titlephoto } = Astro.params;
// const { photos } = Astro.params;
// const { shorttext } = Astro.params;
// const { longtext } = Astro.params;
// const { map } = Astro.params;
-->
<Layout title="AE30 - Projekt - work in progress" description="Projekt" image="">

<section class="carousel_big">

  <h1>Das ist das Projekt: "{project}" in der Kategorie "{cat}"</h1>  

</section>

<section class="controls"></section>


</Layout>

