
       <nav id="mainnav" class="xmenue_hidden">
         <!-- #rev: 1.Collection Main Menu?!! 2.icons menue teil? seo? 3. move after ul (seo!)-->

    <div class="menue-icons">
      <button class="button-icon" type="button" title="Hauptmenü schließen" aria-label="Hauptmenü schließen" menu-toggle>
        <svg class="svg-icon">
          <use id="icon-close" class="svg-icon-use" xlink:href="/svg.svg#close" />
        </svg>
      </button>
    <!-- Menü Toggle Button -->
    </div>

       <ul class="menue"> 
         <!-- <li><a href="#">Filter(Subcategory)</a></li> -->
         <!-- <li><a href="#">Filter(Year)</a></li> -->
         <!-- <li><a href="/admin">Admin</a></li> -->
         <li><a href="/kg/227">227</a></li>
         <li><a href="/kg/ze">ze</a></li>
         <!--<li><hr/></li>-->
         <li><a href="/">ARGE</a></li> 
         <li><a href="/kg">Kratochwil</a></li>
         <li><a href="/wp">Waldbauer</a></li>
         <li><a href="/zk">Zeinitzer</a></li>
         <!-- <li><hr/></li> -->
         <!-- <li><a href="/archiv">Archiv</a></li> -->
         <li><a href="/about">About</a></li>
         <li><a href="/team">Team</a></li>
         <li><a href="/impressum">Impressum</a></li>
       </ul>
       <adress class="kontakt">
       <p>A-1190 Wien, Eroicagasse 30</p>
       <p>TEL: 01-3180500 / FAX: 37 05 013</p>
       <p><a href="mailto:office@ae30.at">office@ae30.at</p>
       </adress>
     </nav> 
